<div class="container">
  <div class="modal-body row">
  <div class="col-md-4">
    <div id="profile-card" class="container text-center">
      <%= cl_image_tag(@user.photo.key, :transformation=>[
        {:width=>300, :height=>300, :gravity=>"face", :radius=>"max", :crop=>"crop"},
        {:width=>150, :crop=>"scale"}
        ]) unless @user.photo.nil? %>
      <h2 class='mt-3'><%= @user.first_name %> <%= @user.last_name  %></h2>
      <p><%= current_user.email %></p>
    </div>
  </div>
  <div class="col-md-4">
    <h2>Styles I lend:</h2>
    <% @items.each do |item|  %>
    <%= render '/shared/dashboard_lend_card', item_within: item%>
    <% end %>
  </div>
  <div class="col-md-4">
    <h2>Styles I borrow:</h2>
    <% @borrowed_items.each do |item|  %>
    <%= render '/shared/dashboard_borrow_card', item_within: item%>
    <% end %>
  </div>
  </div>
</div>
