      <div class="container text-center">
      <h1>Lend your style</h1>
      </div>
<div class="container">

    <%= simple_form_for @item do |f| %>
      <div class="row">
        <div class="col-6">
          <%= f.input :title %>
          <br>
          <%= f.input :color, :label => "Main Color", collection: %i(red orange yellow green blue pink) %>
          <br>
          <%= f.input :category, collection: %I(Vintage Artsy Casual Gruge Chic Bohemian Formal Streetwear)  %>
          <br>
          <%= f.input :size, collection: %i(XXS XS S L XL XXL)  %>
          <br>
          <%= f.input :price, :label => "Price/Day in €" %>
          <br>
          <%= f.input :pickup_location, :label => "Drop-off Location" %>
        </div>
        <div class="col-6">
          <%= f.input :description, input_html: { style:  'height: 300px '}  %>
          <br>
          <%= f.input :style_photo, :label => "Style Photo", as: :file, :input_html => { class: 'btn btn-primary' }  %>
          <br>
          <%= f.input :individual_pieces, :label => "Individual Pieces", as: :file, input_html: { multiple: true, class: 'btn btn-primary' } %>
          <%= f.button :submit, class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
</div>

