
<div class="container">
  <div class="modal-body row">
  <div class="col-md-6">
    <%= cl_image_tag @item.style_photo.key, width: 400, height: 700, crop: :fill, :class => 'rounded'  if !@item.individual_pieces[0].nil? %>
    <h1><%= @item.title %></h1>
    <p><%= @item.description %></p>
  </div>
  <div class="col-md-3">
    <%= cl_image_tag @item.individual_pieces[0].key, height: 300, width: 300, crop: :fill, :class => 'img-thumbnail m-2' if !@item.individual_pieces[0].nil? %>
    <%= cl_image_tag @item.individual_pieces[1].key, height: 300, width: 300, crop: :fill, :class => 'img-thumbnail m-2' if !@item.individual_pieces[1].nil? %>
    <p>Price per night <%= @item.price%>€</p>
    <p>Size: <%= @item.size %></p>
    <p>Category: <%= @item.category %></p>
    <p>Drop-off Location: <%= @item.pickup_location %></p>
  </div>
  <div class="col-md-3">
    <%= cl_image_tag @item.individual_pieces[2].key, height: 300, width: 300, crop: :fill, :class => 'img-thumbnail m-2' if !@item.individual_pieces[2].nil? %>
    <%= cl_image_tag @item.individual_pieces[3].key, height: 300, width: 300, crop: :fill, :class => 'img-thumbnail m-2' if !@item.individual_pieces[3].nil? %>

    <%= link_to "Delete #{@item.title}",
            item_path(@item),
            method: :delete,
            data: { confirm: "Are you sure?" }  %>

  </div>
  </div>
<div class="modal-body row">
  <div class="col-md-6">
  </div>
  <div class="col-md-6">

    <%= render 'bookings/form', :booking => @booking %>

  </div>
</div>
