<div class="container">

  <%= @item.title %>
<<<<<<< HEAD
  <%= cl_image_tag( @item.photo.key) if @item.photo.attached? %>
=======
  <br>
  <%= link_to 'Borrow now', new_item_booking_path(@item), :class => 'btn btn-success' %>
  <%#= render 'bookings/form' %>
  
  <!-- Image -->

  <%= cl_image_tag @item.photo.key, width: 250, height: 300, crop: :fill %>


  <%= @item.title %>

  <%= cl_image_tag @item.photo.key, height: 300, width: 400, crop: :fill %>

    <div class="row text-centre row-space-1">
      <div class="col-sm-3">
        <%= @item.size %>
          </div>
            <div class="col-sm-3">
              <%= @item.description %>
            </div>
            <div class="col-sm-3">
          <%= @item.color %>
        </div>
        <div class="col-sm-3">
      <%= @item.price %>
    </div>
  </div>
>>>>>>> 2b6d4694e83bc82ba100a117f51dbe9f1b289361
</div>

